extends ../_base

block script_before
  meta(name="format-detection" content="telephone=no")
  script(src="http://maps.google.com/maps/api/js?sensor=false")

block content
  section.map#app
    #map_canvas

  section.concept
    .en
      p
        = 'RANAGRAM is a research and development division of '
        a(href="http://www.ranadesign.com/" target="_blank") RaNa design associates
        = '. We continuously explore artistic boundaries that technologies expand. RANAGRAM’s work includes spatial design, physical computing, concert and live performance design, whole website development and UI/UX design. Our expertise lies in interaction design and we provide you with the comprehensive software development from design to implementation. We develop proposals and appropriate software depending on the need and environment. In recent years, we are dedicated to projects of data visualisation. Our recurrent research and development aims at bringing deep insights into our society by using visual approaches to analyse data from different angles.'
      p
        = 'If you are intersted in working with us please send your CV and work samples to '
        a(href!="mailto:info&#64;ranagram.com") info&#64;ranagram.com
        | . Please feel free to get in touch, collaborations are always welcome.
    .jp
      p
        | ラナグラムは
        a(href="http://www.ranadesign.com/" target="_blank") ラナデザインアソシエイツ
        | の研究開発事業部です。テクノロジーが拡張する表現領域を日々探求しています。事業内容は空間演出、フィジカル・コンピューティング、コンサート・舞台演出、ウェブの全体設計、UI/UXデザインなど、インタラクションデザインを専門領域としながら、デザインから実装まで、総合的にソフトウェア開発を行います。求められる状況や環境に応じて最適なソフトウェアを提案および開発します。近年は特にデータ可視化に力を入れており、多角的かつ視覚的にデータにアプローチすることで社会に深い洞察をもたらすよう、研究と開発を繰り返しています。
      p
        | ラナグラムでは、常時人材を募集しています。応募を希望される方は、履歴書とポートフォリオを志望動機とともに、
        a(href!="mailto:info&#64;ranagram.com") メール
        | にてご送付ください。

  section.contact
    h1 CONTACT
    ul
      li 401 3-3-32 Sendagaya, Shibuya, Tokyo
        br
        | 151-0051 JAPAN
      li
        = 'P: '
        a(href="tel:0368900775") +81(0)3 6890 0775
      li F: +81(0)3 6890 0776
      li
        = 'M: '
        a(href!="mailto:info&#64;ranagram.com") info&#64;ranagram.com

  section.group
    h1 RANA GROUP
    ul
      li: a(href="http://www.ranadesign.com/" target="_blank") RaNa design associates, inc.
      li: a(href="http://www.ranaextractive.com/" target="_blank") RaNa extractive, inc.
      li: a(href="http://www.rana007.com/" target="_blank") RANA007
