extends ./_base
block content
  ul.works.large
  script(type="text/template").
    <% large.forEach(function (work) { %>
      <li><a href="/works/<%- work.uid %>">
      <img src="/static/imgs/works/<%- work.uid %>/top.jpg" alt="" />
      <p><% work.toptitle.join("<br/>"); %></p>
      </a></li>
    <% }); %>
  ul.works.small
  script(type="text/template").
    <% small.forEach(function (work) { %>
      <li><a href="/works/<%- work.uid %>">
        <img src="/static/imgs/works/<%- work.uid %>/top.jpg" alt=""/>
        <p><% work.toptitle.join("<br/>"); %></p>
      </a></li>
    <% }); %>
