extends ./_base
block content
  ul.works.large
    each work in works
      if work.topsize === "large"
        li: a(href="/works/" + work.uid + "/")
          img(src="/imgs/works/" + work.uid + "/top.jpg" alt="")
          p!= work.toptitle.join("<br />")
  ul.works.small
    each work in works
      if work.topsize === "small"
        li: a(href="/works/" + work.uid + "/")
          img(src="/imgs/works/" + work.uid + "/top.jpg" alt="")
          p!= work.toptitle.join("<br />")
