extends ./_base
block content
  ul.works.large
    //{% for work in large %}
    //<li><a href="/works/{{ work.uid }}">
    //  <img src="/static/imgs/works/{{ work.uid }}/top.jpg" alt=""/>

    //  <p>{{ work.toptitle|join:"<br/>" }}</p>
    //</a></li>
    //{% endfor %}
  ul.works.small
    //{% for work in small %}
    //<li><a href="/works/{{ work.uid }}">
    //  <img src="/static/imgs/works/{{ work.uid }}/top.jpg" alt=""/>
    //  <p>{{ work.toptitle|join:"<br/>" }}</p>
    //</a></li>
    //{% endfor %}
