extends ./_base

block ogtag
  meta(property="og:url" content="http://www.ranagram.com/progress/{{ work.postid }}")
  meta(property="og:title" content="{{ work.title }}")
  meta(property="og:image" content="{{ work.photos.0 }}")
  meta(property="og:description" content="{{ work.texts|striptags }}")

block content
  #content
  script(type="text/template").
    <% if (work.type === "photo") { %>
      <section class="progress photo" id="post<%- work.postid %>">
        <div class="visual">
          <% work.photos.forEach(function (url) { %>
          <img class="picture" src="<%- url %>" alt="" />
          <% }); %>
        </div>
        <div class="texts"><%= work.texts %></div>
        <div class="date"><%- work.date %></div>
      </section>
    <% } %>
    <% if (work.type === "text") { %>
    <section class="progress photo" id="post<%- work.postid %>">
      <div class="texts"><%= work.texts %></div>
      <div class="date"><%- work.date %></div>
    </section>
    <% } %>
