extends ./_base

block content
  #list-progress
  script(type="text/template" id="tmpl-list-progress").
    <% works.forEach(function (work) { %>
    <% if (work.type === "photo") { %>
    <section class="progress photo" id="post<%- work.postid %>">
      <div class="visual">
        <% work.photos.forEach(function (url, i) { %>
        <% if (i === 0) { %><a href="/progress/<%- work.postid %>"><% } %>
        <img class="picture" src="<%- url %>" alt=""/>
        <% if (i === 0) { %></a><% } %>
        <% }); %>
      </div>
      <div class="texts"><%= work.texts %></div>
      <div class="date"><%- work.date %></div>
    </section>
    <% } %>
    <% if (work.type === "text") { %>
    <section class="progress photo" id="post<%- work.postid %>">
      <div class="texts"><%- work.texts %></div>
      <div class="date"><%- work.date %></div>
    </section>
    <% } %>
    <% }); %>

